header {
  position: relative;
}

.App {
  height: 100vh;
  background-color: lightblue;
}

.icono-principal {
  color: mediumvioletred;
  font-size: 40rem;
}

.card-resumen {
  width: 300px;
}

.card-repos {
  min-height: 250px;
}

.avatar-img {
  height: 200px;
  border-radius: 50%;
}

.bg-light-blue {
  background-color: lightblue;
}

.bg-mediumvioletred {
  background-color: mediumvioletred;
}

.adicional-font-size {
  font-size: 3rem;
}

.informacion-adicional {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repos {
  background-color: mediumvioletred;
  border-radius: 50%;
  padding: 20px;
}

.followers {
  background-color: lightblue;
  border-radius: 50%;
  padding: 20px;
}

.repo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-seguidor {
  height: 150px;
  border-radius: 50%;
}

.img-seguidor:hover {
  cursor: pointer;
}